.about {
    background: linear-gradient(to bottom, #d2dad9, #9ed0d0);
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 70px; 
    left: 280px;  
    right: 0;
    bottom: 0;
    height: calc(100vh - 70px);
    
  }
  
  .about h1 {
    margin-top: 20px;
    color: green;
  }
  
    
  .about h2 {
    margin-top: 20px;
    color: green;
  }

  .about p {
    margin-top: 20px;
    color: black(203, 47, 52);
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .about {
      left: 0;
      padding: 10px;
      height: calc(100vh - 70px);
    }
  
    .about h1 {
      margin-top: 50px;
    }
  
    .about p {
      margin-top: 20px;
    }
  }
  
