.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: fixed;
  top: 85px;
  left: 0;
  width: 200px;
  height: calc(100vh - 150px);
  background: linear-gradient(to bottom, #6ACFC7, #062f2f);
  border-right: 1px solid #ccc;
  padding: 40px;
  z-index: 90;
}
  
  .sidebar h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .sidebar table {
    width: 100%;
    border-collapse: collapse;
  }
  .sidebar th{
    color:antiquewhite;
  }
  
  .sidebar td{
    color: black;
  }
  .sidebar th,
  .sidebar td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }

  .sidebar a{
    color: chartreuse;
  }

  .sidebar a:hover{
    color: rgb(191, 188, 221);
  }
  
