.validator {
  background: linear-gradient(to bottom, #d2dad9, #9ed0d0);
  margin: 0;
    padding: 20px;
    position: fixed;
    top: 70px; 
    left: 250px;  
    right: 0;
    bottom: 0;
    height: calc(100vh - 70px);
  }
  
  .validator h2 {
    margin-top: 150px;
    color: green;
  }
  
  .validator p {
    margin-top: 20px;
  }
  
  .validator form {
    margin-top: 20px;
  }
  
  .validator input {
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .validator button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .validator button:hover {
    background-color: #0056b3;
  }

  
